.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}
img {
    width: 100%;
    height: 100%;
}
.menuList {
    li {
        margin-top: 1rem;
    }
}
a{
    color: inherit;
    text-decoration: none;
}
.navbar-custom {
    font-family: 'teko', sans-serif;
    font-size: 1.5rem;
    background-color: black;
    .navbar-brand {
        font-size: 3rem;
        @media  (min-width: 768px) {
            padding-left: 2.5rem;
        }
        @media (min-width: 992px) {
            padding-left: 5rem;
        }
        @media (min-width:1200px) {
            padding-left: 8rem;
        }
    }
   .navbar-nav {
       @media  (min-width: 768px) {
           padding-left: 15rem;
       }
       @media (min-width: 992px) {
           padding-left: 25rem;
       }
       @media (min-width:1200px) {
           padding-left: 40rem;
       }
   }
}
.carousel-inner {
    .carousel-item {
       background-attachment: fixed;
       background-size: cover;
       -webkit-background-size: cover;
       -moz-bakcground-size: cover;
       -o-background-size: cover;
       background-position: center center;
     }
     #sliderUno {
         background-image: url(../../img/sliderUno.jpg);
     }
     #sliderDos {
         background-image: url(../../img/sliderDos.jpg);
     }
     #sliderTres {
         background-image: url(../../img/sliderTres.jpg);
    }
}
.welcomeBanner {
    background-color: whitesmoke;
    padding: 3rem;
    .mainTitle {
        font-family: 'teko', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
        @media (min-width:992px) {
            font-size: 3rem;
        }
        
    }
    .subtitle {
        font-family: 'teko', sans-serif;
        font-size: 1.5rem; 
        font-style: italic;
        margin-bottom: 0;
        @media (min-width:992px) {
            font-size: 2rem;
        }
    }
    .paragraph {
        font-family: 'teko', sans-serif;
        font-size: 1.5rem; 
        padding: 0 2rem;
        @media (min-width:768px) {
            padding: 0rem 5rem;
        }
        @media (min-width:992px) {
            padding: 0rem 15rem;
        }
    }
    
}
.index_menu {
    .menu {
        background-color: black;
        padding: 5rem 4rem 0rem !important;
        font-family: 'teko', sans-serif;
        font-size: 1.5rem;
        font-weight: normal;
        color: white;
        @media (min-width: 992px) {
            padding-bottom: 4rem !important;
        }
        .menuTitle {
            font-family: 'teko', sans-serif;
            font-size: 2rem;
            font-weight: bold;
            color: white;
        }
        .menuList {
            font-family: 'teko', sans-serif;
            font-size: 1.5rem;
            font-weight: normal;
            color: white;
            list-style: none;
            margin-top: 2rem;
            margin-bottom: 0;
            padding-left: 5rem;
            .sushiIcon {
                width: 30px;
            }
        }
        .buttonContainer {
            margin-top: 2rem;
            margin-bottom: 0;
        }
        .menuDivision {
            background-attachment: fixed;
           background-size: cover;
           -webkit-background-size: cover;
           -moz-bakcground-size: cover;
           -o-background-size: cover;
           background-position: center center;
           background-image: url(../../img/menuDivision.jpg);
    
        }
    }
}
.second_banner {
    background-color: red;
    padding: 1rem;
    color: black;
    .mainTitle {
        font-family: 'teko', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
        @media (min-width:992px) {
            font-size: 3rem;
        }
    }
    .subtitle {
        font-family: 'teko', sans-serif;
        font-size: 1.5rem; 
        font-style: italic;
        margin-bottom: 0;
        @media (min-width:992px) {
            font-size: 2rem;
        }
    }
    .paragraph {
        font-family: 'teko', sans-serif;
        font-size: 1.5rem; 
        padding: 0 2rem;
        @media (min-width:768px) {
            padding: 0rem 5rem;
        }
        @media (min-width:992px) {
            padding: 0rem 15rem;
        }
    }
    .form {
        padding: 0rem 3rem;
        font-family: 'teko', sans-serif;
        color: black;
        @media (min-width: 768px) {
            padding: 0rem 15rem;
        }
        @media (min-width: 992px) {
            padding: 0rem 21rem;
        }
        @media (min-width: 1200px) {
            padding: 0rem 31rem;
        }
        .form_selector {
            font-size: 1.5rem;
        }
    }
}
