.footer {
    background-color: black;
    font-family: 'teko', sans-serif;
    font-size: 1rem;
    color: white;
    padding: 3rem 3rem 5rem !important;
    @media (min-width: 992px) {
        padding: 3rem 3rem 1rem !important;
    }
    ul {
        list-style: none;
        li {
            font-size: 1.5rem;
        }
    }
    .logo {
        width: 190px;
        height: auto;
        margin-bottom: 2rem;
        margin-left: 3rem;
        @media (min-width: 768px) {
            margin-left: 0;
        }
    }
    .iconos_redes {
        width: 50px;
        height: auto;
        margin-right: 0.5rem;
        
    }
    .f-address {
        padding-inline-start: 30px;
    }
    .social-pet li {
        display: inline-block;
    }
}
.copyright {
    background-color:black;
    font-family: 'teko', sans-serif;
    font-size: 1rem;
}