.banner_menu {
  background-image: url(../../img/13424.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-bakcground-size: cover;
  -o-background-size: cover;
  background-position: center center;
  padding: 3rem; }
  @media (min-width: 992px) {
    .banner_menu {
      padding: 5rem; } }
  .banner_menu .banner_menu_title {
    font-size: 3.5rem;
    margin-left: 3rem;
    color: white;
    font-family: 'teko',sans-serif; }
    @media (min-width: 768px) {
      .banner_menu .banner_menu_title {
        margin-left: 7rem; } }
    @media (min-width: 992px) {
      .banner_menu .banner_menu_title {
        margin-left: 10rem;
        font-size: 5rem; } }

.combos {
  background-color: black;
  font-family: 'teko', sans-serif;
  color: white;
  padding-top: 3rem; }
  .combos .combo_title {
    padding-top: 2rem; }
  .combos .combos_list {
    list-style: none;
    padding: 0rem 2rem; }
    @media (min-width: 768px) {
      .combos .combos_list {
        margin-bottom: 2rem; } }
    @media (min-width: 992px) {
      .combos .combos_list {
        font-size: 1.5rem; } }
    @media (min-width: 1200px) {
      .combos .combos_list {
        padding-top: 3rem; } }
    @media (min-width: 992px) {
      .combos .combos_list .combo_list_titles {
        font-size: 2rem; } }

.entries {
  background-image: url(../../img/1103.jpg);
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-bakcground-size: cover;
  -o-background-size: cover;
  background-position: center center;
  font-family: 'teko', sans-serif;
  color: black;
  padding-top: 3rem;
  padding-bottom: 2rem; }
  .entries .entries_paragraph {
    padding: 0rem 4rem;
    font-size: 1.3rem; }
    .entries .entries_paragraph .precio {
      font-size: 1.5rem;
      font-weight: bold; }

.rolls {
  background-image: url(../../img/1103.jpg);
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-bakcground-size: cover;
  -o-background-size: cover;
  background-position: center center;
  padding: 3rem;
  font-family: 'teko', sans-serif;
  color: black; }
  .rolls ul {
    list-style: none;
    padding-inline-start: 0px; }
    .rolls ul li p {
      padding: 0rem 4rem;
      font-size: 1.3rem; }
      @media (min-width: 1200px) {
        .rolls ul li p {
          padding: 0rem 10rem; } }
      .rolls ul li p span {
        font-weight: bolder;
        font-size: 1.5rem; }

.special_rolls {
  padding: 3rem;
  font-family: 'teko', sans-serif;
  color: white;
  background-color: black; }
  .special_rolls p {
    padding: 0rem 4rem;
    font-size: 1.3rem; }
    .special_rolls p span {
      font-weight: bolder;
      font-size: 1.5rem; }

.menu_download {
  background-color: #c31e2c;
  padding: 3rem !important;
  font-family: 'teko', sans-serif;
  color: white; }
  .menu_download .menu_download_title {
    font-size: 2.5rem !important; }
    @media (min-width: 992px) {
      .menu_download .menu_download_title {
        font-size: 3.5rem !important; } }
  .menu_download .menu_download_button {
    font-size: 1.5rem !important;
    padding: 0.2rem 1.5rem; }
    @media (min-width: 768px) {
      .menu_download .menu_download_button {
        margin-left: 150px !important; } }
    @media (min-width: 992px) {
      .menu_download .menu_download_button {
        margin-top: 40px;
        margin-left: 280px !important; } }
    @media (min-width: 1200px) {
      .menu_download .menu_download_button {
        margin-top: 10px;
        margin-left: 420px !important; } }

.footer {
  background-color: black;
  font-family: 'teko', sans-serif;
  font-size: 1rem;
  color: white;
  padding: 3rem 3rem 5rem !important; }
  @media (min-width: 992px) {
    .footer {
      padding: 3rem 3rem 1rem !important; } }
  .footer ul {
    list-style: none; }
    .footer ul li {
      font-size: 1.5rem; }
  .footer .logo {
    width: 190px;
    height: auto;
    margin-bottom: 2rem;
    margin-left: 3rem; }
    @media (min-width: 768px) {
      .footer .logo {
        margin-left: 0; } }
  .footer .iconos_redes {
    width: 50px;
    height: auto;
    margin-right: 0.5rem; }
  .footer .f-address {
    padding-inline-start: 30px; }
  .footer .social-pet li {
    display: inline-block; }

.copyright {
  background-color: black;
  font-family: 'teko', sans-serif;
  font-size: 1rem; }

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0; }

img {
  width: 100%;
  height: 100%; }

.menuList li {
  margin-top: 1rem; }

a {
  color: inherit;
  text-decoration: none; }

.navbar-custom {
  font-family: 'teko', sans-serif;
  font-size: 1.5rem;
  background-color: black; }
  .navbar-custom .navbar-brand {
    font-size: 3rem; }
    @media (min-width: 768px) {
      .navbar-custom .navbar-brand {
        padding-left: 2.5rem; } }
    @media (min-width: 992px) {
      .navbar-custom .navbar-brand {
        padding-left: 5rem; } }
    @media (min-width: 1200px) {
      .navbar-custom .navbar-brand {
        padding-left: 8rem; } }
  @media (min-width: 768px) {
    .navbar-custom .navbar-nav {
      padding-left: 15rem; } }
  @media (min-width: 992px) {
    .navbar-custom .navbar-nav {
      padding-left: 25rem; } }
  @media (min-width: 1200px) {
    .navbar-custom .navbar-nav {
      padding-left: 40rem; } }

.carousel-inner .carousel-item {
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-bakcground-size: cover;
  -o-background-size: cover;
  background-position: center center; }

.carousel-inner #sliderUno {
  background-image: url(../../img/sliderUno.jpg); }

.carousel-inner #sliderDos {
  background-image: url(../../img/sliderDos.jpg); }

.carousel-inner #sliderTres {
  background-image: url(../../img/sliderTres.jpg); }

.welcomeBanner {
  background-color: whitesmoke;
  padding: 3rem; }
  .welcomeBanner .mainTitle {
    font-family: 'teko', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 0; }
    @media (min-width: 992px) {
      .welcomeBanner .mainTitle {
        font-size: 3rem; } }
  .welcomeBanner .subtitle {
    font-family: 'teko', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 0; }
    @media (min-width: 992px) {
      .welcomeBanner .subtitle {
        font-size: 2rem; } }
  .welcomeBanner .paragraph {
    font-family: 'teko', sans-serif;
    font-size: 1.5rem;
    padding: 0 2rem; }
    @media (min-width: 768px) {
      .welcomeBanner .paragraph {
        padding: 0rem 5rem; } }
    @media (min-width: 992px) {
      .welcomeBanner .paragraph {
        padding: 0rem 15rem; } }

.index_menu .menu {
  background-color: black;
  padding: 5rem 4rem 0rem !important;
  font-family: 'teko', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: white; }
  @media (min-width: 992px) {
    .index_menu .menu {
      padding-bottom: 4rem !important; } }
  .index_menu .menu .menuTitle {
    font-family: 'teko', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white; }
  .index_menu .menu .menuList {
    font-family: 'teko', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    list-style: none;
    margin-top: 2rem;
    margin-bottom: 0;
    padding-left: 5rem; }
    .index_menu .menu .menuList .sushiIcon {
      width: 30px; }
  .index_menu .menu .buttonContainer {
    margin-top: 2rem;
    margin-bottom: 0; }
  .index_menu .menu .menuDivision {
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-bakcground-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-image: url(../../img/menuDivision.jpg); }

.second_banner {
  background-color: #c31e2c;
  padding: 1rem;
  color: black; }
  .second_banner .mainTitle {
    font-family: 'teko', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 0; }
    @media (min-width: 992px) {
      .second_banner .mainTitle {
        font-size: 3rem; } }
  .second_banner .subtitle {
    font-family: 'teko', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 0; }
    @media (min-width: 992px) {
      .second_banner .subtitle {
        font-size: 2rem; } }
  .second_banner .paragraph {
    font-family: 'teko', sans-serif;
    font-size: 1.5rem;
    padding: 0 2rem; }
    @media (min-width: 768px) {
      .second_banner .paragraph {
        padding: 0rem 5rem; } }
    @media (min-width: 992px) {
      .second_banner .paragraph {
        padding: 0rem 15rem; } }
  .second_banner .form {
    padding: 0rem 3rem;
    font-family: 'teko', sans-serif;
    color: black; }
    @media (min-width: 768px) {
      .second_banner .form {
        padding: 0rem 15rem; } }
    @media (min-width: 992px) {
      .second_banner .form {
        padding: 0rem 21rem; } }
    @media (min-width: 1200px) {
      .second_banner .form {
        padding: 0rem 31rem; } }
    .second_banner .form .form_selector {
      font-size: 1.5rem; }
